.example {
	// background: #333;
	.test1{
		width: 100px;
		height: 100px;

		background-color: #123456;
	}

	.btn{
		width: 30px;
		height: 20px;
		background: #fff;
		color: #000;
		cursor: pointer;
		padding: 2px;
	}
}
