//- index.pug
extends ../../templates/index.pug

block content
	section.example
		.css-animation-test
			.test1
			.play-btn.btn='play'
			.cancel-btn.btn='cancel'
		#svg-test
			include ../../assets/icon1.svg
