//- includes/head.pug
head
	title scaffolding
	link(rel='stylesheet', href=root+'style.min.css')
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible')
	meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
