extends ../../templates/index.pug

block content
    section.example1
        .content
            h1!=title
            .css-animation-test
                p!='css animation test'
                .test1
                .play-btn.btn='play'
