.example1 {
    .content {
        background: #778899;
        width: 100%;
        height: 800px;
        .css-animation-test{
            .test1{
                width: 100px;
                height: 100px;
                background: #123456;
            }
        }
    }
}
