@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face(SourceSansPro-Black, assets/fonts/SourceSansPro-Black, normal, normal, eot  woff ttf svg);
@include font-face(SourceSansPro-Bold, assets/fonts/SourceSansPro-Bold, normal, normal, eot  woff ttf svg);
@include font-face(SourceSansPro-Regular, assets/fonts/SourceSansPro-Regular, normal, normal, eot  woff ttf svg);
@include font-face(SourceSansPro-Semibold, assets/fonts/SourceSansPro-Semibold, normal, normal, eot  woff ttf svg);
@include font-face(Alpinist-Bold, assets/fonts/Alpinist-Bold, normal, normal, eot  woff ttf svg);
@include font-face(Alpinist-Medium, assets/fonts/Alpinist-Medium, normal, normal, eot  woff ttf svg);
@include font-face(RobotoCondensed-Regular, assets/fonts/RobotoCondensed-Regular, normal, normal, eot  woff ttf svg);
@include font-face(fontawesome, assets/fonts/fontawesome-webfont, normal, normal, eot  woff ttf svg);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
::selection{
	background: #000;
	color: #fff;
}
html,body{
	// height: 100%;
	// overflow:hidden;
	
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	font-family: "SourceSansPro-Regular";
	color: #fff;
	// overflow: hidden;
	background: #3c3c3c;
	&.initing{
		opacity: 0;
		visibility: hidden;
	}
}